@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .headerBtm{
    @apply text-[.8em] text-white hover:text-mart_yellow cursor-pointer
  }
  .footer-link{
    @apply text-[10px] lg:text-sm font-titleFont tracking-wide hover:text-gray-100 cursor-pointer hover:underline duration-150
  }
  .footerBottomTitle{
    @apply text-xs md:text-sm font-semibold  group-hover:underline text-[#ddd] leading-3 mb-[2px] cursor-pointer
  }
  .footerBottomText{
    @apply w-24 font-semibold text-[9px] md:text-[12px] text-[#999] group-hover:underline leading-3 cursor-pointer
  }
  .productLi{
    @apply text-[.6em] mdl:text-[.8em] font-medium border-b-[1px] border-b-gray-400  flex items-center justify-end gap-1 md:gap-2 hover:cursor-pointer duration-300 w-full
  }
}

.barlow{
  font-family: 'Barlow', sans-serif;
}
.poppins{
  font-family: "Poppins", sans-serif;
}


/* body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #febd69;
  --sb-size: 7px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: rgb(221, 220, 220);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
} */

.sellpage{
  background-image: url(../src/assets/Images/SellPage.jpg);
  background-size: cover;
}

.sellerPNF{
  background-image: url(../src/assets/Images/notseller2.jpg);
  background-size: cover;
}

.sellBG{
  background-image: url(../src/assets/Images/sellBG.jpg);
  background-size: cover;
}

.neu{
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
}

.how{
  background-image: url(../src/assets/Images/how.jpg);
  background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}